h1{
    color:rgb(37, 15, 238);
}
#header{
    background-color:black;
    display:flex;
    justify-content: space-around;
}
.clickables{
    color:beige;
    display:flexbox;
    -ms-flex-item-align: bottom;
}
body{
    background-color:#eca012;
}